$backGround: #F8F9FA;
$Black: #000000;
$Black2: #404040;
$Black3: #696969;
$Black4: #8D8D8D;
$Black5: #B0AEAE;
$Red: #C42001;
$White: #FFFFFF;
$redBackGround: #3C0506;



// SnackBar
$yellowSnackBar:#FCC21B;
$LightBlueSnackBar: #6CCEFB;
$GreenDarkSnackBar: #27AE60;