.adminPanelRoot{
    background-color: $backGround;
    color: white;
    display: grid;
    grid-template-rows: 35px 1fr;
    row-gap: 10px;
    padding: 10px;
}

.adminPanelButtons{
    background-color: $redBackGround;
    border-radius: 10px;
    display: grid;
    grid-auto-flow: column;
    padding: 5px;
}

.adminPanelicon{
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    display: grid;
    height: 20px;
    justify-items: center;
    padding: 3px;
    width: 20px;
    
    &:hover{
        background-color: $lightRed;
    }
    
    &:active{
        background-color: $yellowSnackBar;
    }
}

.adminPanelButtonsRightIcons{
    justify-content: flex-end;
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
}

.adminListGames{
    align-content: flex-start;
    display: grid;
    height: calc(93vh - 35px);
    padding: 5px;
    row-gap: 10px;
}

.cardItem{
    border: 1px solid $Black4;
    border-radius: 5px;
    cursor: pointer;
    column-gap: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 120px 1fr 120px;
    height:fit-content;
    &:hover{
        border: 2px solid $yellowSnackBar;
        // background-color:$Black3;
        // box-shadow: 1px 1px 10px $yellowSnackBar;
    }
    // &:active{
    //     background-color: $menuElement;
    // }
}

.searchBarAdmin{
    background-color: $menuElement;
    border-radius: 5px;
}

.cardItemCenterSection{
    align-content: center;
    display: grid;
    text-align: center;
}

.cardItemRightSection{
    align-content: center;
    display: grid;
    justify-content: center;
    row-gap: 20px;
}

.buttonEdit{
    background-color: $menuElement;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    &:hover{
        background-color: $ChamgeBoxColor;
    }
    &:active{
        background-color: $yellowSnackBar;
    }
}

.buttonDelete{
    background-color: $redBackGround;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    &:hover{
        background-color: $Red;
    }
    &:active{
        background-color: $yellowSnackBar;
    }
}
.adminLoginLogo{
    align-content: center;
    display: grid;
    justify-content: center;

}
.adminLoginScreenRoot{
    align-content: center;
    background-image: url('/images/backgroundAdmin2.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.adminLoginScreen{
    align-content: center;
    background-color: $redBackGround;
    display: grid;
    min-height: 50vh;
    min-width: 50vw;
    justify-content: center;
    // margin-top: 25vh;
    // margin-left: 25vw;
    row-gap: 20px;
}

.adminLoginInput{
    background-color: $menuElement;
    border-radius: 5px;
    padding: 7px;
    width: 40vw;
}

.adminLoginButton{
    background-color: $ChamgeBoxColor;
    border-radius: 10px;
    cursor: pointer;
    justify-self: center;
    padding: 5px;
    text-align: center;
    width: 25vw;

    &:hover{
        background-color: whitesmoke;
    }

    &:active{
        background-color: $Black4;
        color: $menuElement;
    }
}

.adminModalExternalContainer{
    background-color: black;
    position: absolute;
    height: 100vh;
    opacity: 0.6;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.adminModalRoot{
    background-color: $redBackGround;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    position: absolute;
    top: 10vh;
    left: 10vw;
    height: 80vh;
    width: 80vw;
    z-index: 3;
}

.adminModalInfo{
    width: 100%;
}

.adminModalHeader{
    align-content: center;
    border-bottom: 2px double white;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    justify-items: center;
    padding: 5px;
}

.adminModalHeaderIcon{
    align-items: center;
    background-color: $redBackGround;
    border-radius: 20px;
    cursor: pointer;
    display: grid;
    height: 25px;
    justify-items: center;
    width: 25px;

    &:hover{
        background-color: $ChamgeBoxColor;
    }
    
    &:active{
        background-color: $Black4;
        box-shadow: 1px 1px 2px white;
    }
}



.adminModalHeaderText{
    align-self: center;
    color: white;
    text-align: center;
}

.adminModalButtons{
    border-top: 2px double white;
    display: grid;
    justify-items: center;
    padding: 5px;
}

.adminModalSaveButton{
    align-self: center;
    background-color: $menuElement;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    padding: 3px;
    width: 120px;
    
    &:hover{
        background-color: $ChamgeBoxColor;
        color: white;
    }

    &:active{
        background-color: $yellowSnackBar;
    }
}


.modalAdminOption{
    align-items: center;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    font-size: 14px;
    display: grid;
    grid-template-columns: 60px 1fr;
    height: 50px;
    margin: 10px;
    padding: 5px;
    &:hover{
        background-color:$Black4;
    }
    &:active{
        background-color: $Black2;
    }
}

.modalAdminSearchBar{
    background-color: $ChamgeBoxColor;
    border-radius: 10px;
    margin: 20px;
    padding: 7px;
}

.modalAdminListofGames{
    background-color: $BlackWaiting;
    column-gap: 30px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    height:45vh;
}

.waitingImage{
    align-content: center;
    display: grid;
    height: 100%;
    justify-content: center;
}

.modalAdminEditGames{
    background-color: $BlackWaiting;
    color: white;
    display: grid;
    height:60vh;
}

.modalAdminInputCustomContainer{
    border: 2px solid whitesmoke;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    padding: 15px 3px 3px 3px;
    font-size: small;
}
.modalAdminInputCustomlabel{
    background-color: $BlackWaiting;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    position: absolute;
    padding: 0px 10px 0px 10px;
    top: -10px;
}

.modalCustomSelect{
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
}

.modalCustomImagebanerSection{
    border: 2px solid whitesmoke;
    display: grid;
    grid-template-columns: 35px 1fr 35px;
    height: 9.5rem;
    margin: 10px;
    position: relative;
}

.modalCustomImagebanerSectionArrows{
    display: grid;
    align-items: center;
    justify-content: center;
}

.modalCustomImagebanerImage{
    // background-image: url('/images/adventure.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.arrowicon{
    border-radius: 20px;
    cursor: pointer;
    display: grid;
    padding: 3px;
    
    &:hover{
        background-color: $menuElement;
    }

    &:active{
        background-color: $ChamgeBoxColor;
    }
}

.modalCustomImageCardExternal{
    align-items: center;
    display: grid;
    justify-items: center;
}

.modalCustomImageCardImage{
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 130px;
    height: 150px;
}

.modalWaitingContainer{
    align-items: center;
    display: grid;
    height: 75vh;
    justify-content: center;
}

.errorMessageContainer{
    background-color: #FDD6D0;
    border: 1px dotted red;
    border-radius: 10px;
    font-size: 12px;
    font-weight: lighter;
    color: red;
    padding: 5px;
}