.headerWebRoot{
    align-content: center;
    display: grid;
    column-gap: 10px;
    grid-auto-flow: column;
    grid-template-columns: 0.40fr 1fr 25px 25px;
    padding: 0px 5px 0px 5px;
}


.searchBarContainer{
    background-color: $Red;
    border-radius: 2px;
    display: grid;
    grid-template-columns: 1fr 25px;
    column-gap: 5px;
    padding: 2px 3px 2px 3px;
    max-width: 170px;
}

.searchBarContainerIcon{
    border-radius: 10px;
    cursor: pointer;
    display: grid;
    justify-content: center;
    padding: 2px;
    
    &:hover{
        background-color: $redBackGround;
    }
    
    &:active{
        background-color: $lightRed;
        // box-shadow: 1px 1px 5px white;
    }


}

.inputNoneClase{
    background-color: transparent;
    border: none;
    color: white;
    outline: transparent;
    width: 100%;

    &::placeholder{
        color:whitesmoke;
    }
}

.headersIcons{
    align-content: center;
    background-color: $Red;
    border-radius: 5px;
    cursor: pointer;
    display: grid;
    justify-content: center;
    padding: 2px;
    &:hover{
        background-color: $lightRed;
    }
    &:active{
        background-color: $Black3;
        zoom: 0.8;
    }
}

.headersmenuContainer{
    cursor: pointer;
    display: grid;
    grid-auto-flow: column;
    justify-content:space-around;
}

.headerUnActiveElement{
    font-size: small;
    color: whitesmoke;
    &:hover{
        // font-size: medium;
        color: $Red;
    }
}

.headerActiveElement{
    font-size: medium;
    color: white;
    border-bottom: 1px solid $Red;
}

.headersMobileRoot{
    align-items: center;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
}

.headersMobileCenter{
    
    display: grid;
    justify-items: center;
}

.headersMobileCenterSearchbar{
    background-color: $Red;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
}

.headerMobileDrawerExternal{
    background-color: black;
    position: absolute;
    top: 0;
    height: 100vh;
    opacity: 0.4;
    width: 100vw;
    z-index: 9;
}

.headerMobileDrawer{
    background-color: $redBackGround;
    box-shadow: 4px 1px 15px $Red;
    position: absolute;
    display: grid;
    height: 100vh;
    top: 0;
    width: 70vw;
    overflow: scroll;
    row-gap: 10px;
    z-index: 10;
}